doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='application-name', content='Silent Gear Calculator')
        meta(name='description', content='A simple web application for creating tools for the Silent Gear Minecraft mod.')
        meta(name='author', content="G'lek Tarssza <glek@glektarssza.com>")
        meta(name='keywords', content='tool,app,calculator,silent,gear,minecraft,mod,utility,typescript,html5')
        meta(name='color-scheme', content='normal')
        meta(name='generator', content='Webpack')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        meta(name='robots', content='index,follow,noarchive')
        title Silent Gear Calculator
        script(src=require('./ts/index.tsx'))
        link(rel='stylesheet', href=require('./scss/index.scss'))
    body
        div#app
